* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.body {
	background: cadetblue;
}
.header {
	background: aqua;
	padding: 4%;
	border: 2px dashed black;
	text-align: center;
}
.sidebar {
	background: cadetblue;
	width: 30%;
	float: left;
}
.content {
	background: darkcyan;
	margin-left: 30%;
}
.footer {
	background: deeppink;
	padding: 4%;
	border: 2px dashed black;
	text-align: center;
	clear: left;
}