* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.wrapper {
	border-left: 2px dotted black;
	border-right: 2px dotted black;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
header {
	text-align: left;
}
.logo {
	display: block;
	text-decoration: none;
	color: black;
	padding-left: 30px;
	text-align: center;
	width: 180px;
}
.logo:hover {
	opacity: .75
}
.logo span {
	display: inline-block;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 40px;
}
.header-nav {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding-left: 25px;
}
nav li {
	display: inline-block;
}
.header-nav a {
font-size: 20px;
color: black;
display: inline-block;
text-decoration: none;
padding: 10px 20px;
}
.header-nav a:hover {
	background-color: black;
	color: white;
}
.content {
	padding: 30px;
}
h1,
h2,
p {
	margin-top: 12px;
	margin-bottom: 12px;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}
p {
	font-size: 22px
}
.content img {
	width: 100%
}
.footer-nav {
	text-align: center;
	font-size: 14px;
	background-color: black;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer-nav a {
	text-decoration: none;
	color: white;
}
.footer-nav a:hover {
	border-bottom: 1px dashed white
}
.footer-nav li {
	padding: 0 12px
}