@import 'reset.css';
.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	background-image: linear-gradient(to left top, #e5e5e5, #fff);
}
.table {
	margin:auto;
}
.table_same {
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0,0,0,0.08);
	font: 12px Tahoma;
}
tr:nth-child(2n+3) {
    background: #fbfbfb; /* Цвет фона */
   } 
 tr:nth-child(2n) {
    background: #fff; /* Цвет фона */
   } 
th, td:not(.Type_410) {
	color: red;
	text-align: left;
	font-weight: 300;
}
th, td {
	border: 1px solid #fff;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 100px;
	padding-bottom: 10px;
}
.first {
	font-weight: 400;
	background-color: #fff;
}
tr:hover {
	background: #d4d4d4;
}
.down:hover {
	text-decoration: underline;
	color: red;
}
