* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper {
	height: 100vh;
	background-image: linear-gradient(to left, #e5e5e5, #ffffff);
}
.wrapper2 {
	padding-top: 200px;
}
th, a {
	text-decoration: none;
	color: red;
	text-align: left;
}
table {
	border-collapse: collapse;
	box-shadow: 0 0 30px rgba(0,0,0,0.08);
	margin: auto;
	padding-top: 200px;
}
tr:nth-child(2n+3) {
    background: #fbfbfb;
}
tr:hover {
	background-color: #d4d4d4;
}
a:hover {
	background-color: #d4d4d4;
	text-decoration: underline;
}